<div id="main">
	<div id="contactDetails">
    	<h2>כתובתנו למשלוח דואר</h2>
        <p>
        	גבעת שמואל<br />
			ת.ד 280<br />
            45880<br />
        </p>
        <h2>טלפון</h2>
        <p>072-2506666</p>
    </div>
    <div id="vSeparator"></div>
	<div id="contactContent">
    	<h1>צרו איתי קשר.</h1><br /><br />
        <label>שם מלא</label><br />
        <input type="text" /><br />
        
        <label>כתובת דוא"ל</label><br />
        <input type="text" /><br />
        
        <label>טלפון</label><br />
        <input type="text" /><br />
        
        <label>נושא הפניה</label><br />
        <input type="text" /><br />
        
        <label>תוכן ההודעה</label><br />
        <textarea></textarea><br />
        
        <input type="submit" value="שלח" />
    </div>
    <div class="clearFloats"></div>
</div>