<% if object && object.errors.size > 0 %>
	<div>
		<p>אנא תקן את השגיאות הבאות:</p>
		<ul>
			<% object.errors.full_messages.each do |msg| %>
				<li><%= msg -%></li>
			<% end -%>
		</ul>
	</div>
<% end -%>