            <div style="position:relative; top:-435px;left: -419px; width:17px; height:302px; background: url(../assets/global/verticaSeparator.png) no-repeat; z-index: 3"></div>
            <div style="position:relative; top:-740px;left: -15px; width:400px; height:155px; z-index: 3">
              <p><b>שלום, אני גברת צימר.</b><br />אני מאמינה שיצא לכם לעבור את התהליך המתיש של חיפוש צימר בעבר.<br />שיטוט בין אתרי צימרים עמוסים, פניות לבעלי צימרים רבים, טלפונים מיילים, השוואת מחירים, השוואת מאפיינים, תיאום תאריכים... בקיצור מעייף.</p>
              <p>באתר שלי תוכלו למצוא לכם צימר חלומי. לנופש מרגיע. ללא הצורך המתיש בחיפוש בין עשרות אתרים וצפיה במאות צימרים שלא מתאימים לדרישותיכם.<br/ >כל שעליכם לעשות זה להגדיר את פרטי הנופש המבוקש... ומכאן אני נכנסת לתפקיד.</p>
            </div>
            <div style="position:relative; top:-725px;left: 10px; width:480px; height:100px; background: url(../assets/global/stepsAll.png) no-repeat; z-index: 3"></div>
            <div style="position:relative; top:-715px;left: -15px; width:200px; height:20px; z-index: 3;">אז שתהיה לכם חופשה מהנה.</div>
            <div style="position:relative; top:-715px;left: -15px; width:79px; height:36px; background: url(../assets/global/signature.png) no-repeat; z-index: 3"></div>
            


            <div id="form" style="position:relative; top:-1050px;left: -500px; width:400px; height:345px; z-index: 3;">

              <ul class="accordion">
                <div class="accordionSperator">----------------------------------------------------------------------------------</div>
                <li id="one" class="files">

                  <a href="#one">1. בחירת סוג חדר ואזור</a>

                  <ul class="sub-menu">
                    
                    <li>בחירת סוג חדר ואזור</li>

                  </ul>

                </li>

                <div class="accordionSperator">----------------------------------------------------------------------------------</div>
                
                <li id="two" class="mail">

                  <a href="#two">2. אבזור חדר</a>

                  <ul class="sub-menu">
                    
                    <li>אבזור חדר</li>

                  </ul>

                </li>
                
                <div class="accordionSperator">----------------------------------------------------------------------------------</div>

                <li id="three" class="cloud">

                  <a href="#three">3. מחירים ותאריכים</a>

                  <ul class="sub-menu">
                    
                    <li>מחירים ותאריכים</li>

                  </ul>

                </li>
                
                <div class="accordionSperator">----------------------------------------------------------------------------------</div>

                <li id="four" class="sign">

                  <a href="#four">4. מילוי פרטים לקבלת הצעות</a>

                  <ul class="sub-menu">
                    
                    <li>מילוי פרטים לקבלת הצעות</li>

                  </ul>

                </li>
            
            </ul>

            </div><!-- End form -->



