<div class="accordion" id="accordionRequests">
	<% @requests.each_with_index do |request, i| -%>
	    <div class="accordion-group">
	      <div class="accordion-heading">
	        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionRequests" href="#collapse<%= i -%>">
	          בקשה <%= i %>
	        </a>
	      </div>
	      <div id="collapse<%= i -%>" class="accordion-body collapse">
	        <div class="accordion-inner">
	          <%= request.start_date %>
	        </div>
	      </div>
	    </div>
	<% end -%>
</div>