<div class="well site_editor_nav" style="width:200px;padding: 8px 0;">
  <ul class="nav nav-list">
    <li class="nav-header">כללי</li>
    <li class="active"><a href="#">עריכת תוכן</a></li>
    <li><a href="#">תמחורים</a></li>
    <li><a href="#">גלריית תמונות</a></li>
    <li class="nav-header">עריכת חדרים</li>
    <li><a href="#">חדר 1</a></li>
    <li><a href="#">חדר 2</a></li>
    <li class="divider"></li>
    <li><a href="#">הוסף חדר +</a></li>
  </ul>
</div>