// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_nav {
	float: left
}
.siteOwnerLoginButton {
	height: 25px;
	width: 160px;
	font-size: 16px;
	padding-top: 10px;
}

.welcomeContainer {
	width: auto;
	float: right;
}

.welcomeMainContainer {
	height: 500px;
}

.requestContainer {
	float: right;
	padding-right: 40px;
}

.requestSubContainerRight {
	float: right;
}

.requestSubContainerLeft {
	float: right;
	margin-right: 150px;
}

.elementDefault {
	color: #0088CC;
	width: 120px;
}

.elementWide {
	width: 200px;
}

.labelDefault {
	width: 110px;
	display: inline
}

.searchPropertiesAccordion {
	width: 264px;
}

.submitBtn {
	font-size: 16px;
}