// Place all the styles related to the SiteOwner controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mainContainer {
	height: 550px;
}

.signUpContainer {
	float: right;
	width: 45%;
}

.orContainer {
	font-size: 20px;
	float: right;
	width: 10%;
	padding-top: 10%;
}

.signInContainer {
	float: right;
	width: 45%;
}

.elementDefault {
	color: #0088CC;
	width: 120px;
}

.elementWide {
	width: 200px;
}

.labelDefault {
	width: 110px;
	display: inline
}