<p>שלום <%= @resource.email %>!</p>

<p>מישהו ביקש קישור לשנות את סיסמתך, הינך יכול לעשול זאת בלינק להלן:</p>

<p><%= link_to 'שנה את סיסמתי', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>אם לא ביקשת להחליף סיסמה אנא התעלם ממייל זה.</p>
<p>סיסמתך לא תשתנה עד אשר תלחץ על הלינק למעלה.</p>
